@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: scale(0.95);
  transform-origin: top center;
  background: linear-gradient(to bottom right, rgb(243 244 246), rgb(229 231 235));
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(to bottom right, rgb(31 41 55), rgb(17 24 39));
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}